* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}


body {
    background: #e3ba84;
}

.wrapper {
    box-sizing: border-box;
    width: 46em;
    padding: 5em;
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 2em;
    box-shadow: 0 0.2em 10em #3f3f30;

}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
}

.stats-container {
    text-align: right;
    margin-bottom: 1em;
}

.stats-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 9em;
    height: 9em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    transition: transform 0.5s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background-color: pink;
    font-size: 7em;
    font-weight: 800;
}

.card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f4c531;
    top: 0;
}

button {
    border: none;
    border-radius: 5em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1em;
    display: block;
    margin: 1em auto 0 auto;
    background-color: #ef408b;
    color: #ffffff;
}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 68, 0, 0.2);
}

.hide {
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 1.5em;
}

#result h4 {
    font-size: 1.5em;
    margin: 0.6em 0 1em 0;
}

#registration {
    color: #f1f1f1;
    font-size: 1.5em;

}

