    <!DOCTYPE html>
<html lang="en">
<head>
    <title>Memory Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="../style.css"/>
<script src="{{url_for('static', filename='game.js')}}"></script>
</head>
<body>
    <div id="registration">Click <a href="registration_page.html">here</a> to go to the registration page.<h1></h1>
    {% if username %}
        <p>Hello, {{ username }}! You are already logged in.</p>
        <a href="/logout"> Logout</a>
    {% else %}
        <p>You are not logged in. Please <a href="login_page">login</a> to access game.</p>
    {% endif %}
    </div>
    <div class="wrapper">
        <div class="stats-container">
            <div id="moves-count"></div>
            <div id="time"></div>
        </div>
        <div class="game-container"></div>
        <button id="stop" class="hide">STOP GAME</button>
    </div>
    <div class="control-container">
        <p id="result"></p>
        <button id="start" class="hide">START GAME</button>
    </div>
</body>
</html>
